<div class="navbar navbar-static-top navbar--testbar" ng-controller="TestbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed"><span class="sr-only">Toggle navigation</span></button> <a href="/" class="logo"></a>
        </div>

        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
	        <ul class="nav navbar-nav">
		        <li>
		        	<a>
			        	<span ng-show="quiz.titles.length > 1">You're taking {{quiz.titles.length}} quizzes.</span>
			        	<span ng-show="quiz.titles.length == 1">You're taking <em>{{quiz.titles[0]}}.</em></span> You'll do great!
			        </a>
		        </li>
	        </ul>
            <!--<ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}"><a ng-href="{{item.link}}">{{item.title}}</a></li>
            </ul>-->

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
		        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
		        <li ng-show="isLoggedIn()"><a href="/main">&#8592; Return to Peck</a></li>
            </ul>
        </div>
    </div>
</div>
