<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{quiz.title}}</h1>
      <ul>
	      <li ng-repeat="question in quiz.questions">{{question.current.content}}
		      <ul>
			      <li ng-repeat="answer in question.current.answers">{{answer.text}}</li>
		      </ul>
	      </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Peck</p>
  </div>
</footer>
