<div ng-include="'components/navbar/navbar.html'"></div>

<div class="quizzes-header">
	<div class="container">
		
		<div class="row">
		
		    <div class="col-lg-12">
			    
			    <div class="actions">
				    
				    <div class="actions__filter">
					    <h1 class="filter-label">All Quizzes</h1><input type="text" ng-model="filters.search.title" class="filter-search" ng-class="{ 'screens-are-selected': numberOfQuizzesSelected() }" placeholder="Search">
					    <span ng-hide="!filters.search.title" class="glyphicon glyphicon-remove-circle clear-search" ng-click="filters.search = '' "></span>
				    </div>
				    
					<!-- Button trigger modal -->				
					<div class="actions__toolbar">
			    		<a class="btn" ng-click="showCourses()"><span class="glyphicon glyphicon-th-large"></span></a>
			    		<a class="btn" ng-click="hideCourses()"><span class="glyphicon glyphicon-th-list"></span></a>
						<a class="btn btn-primary btn-large create-quiz-button" ng-click="createQuiz()">Create new quiz</a>
						<a class="btn btn-primary btn-large take-test-button" ng-click="takeQuizzesInBulk()" ng-disabled="!numberOfQuizzesSelected()"><span ng-hide="numberOfQuizzesSelected()">Take quiz</span><span ng-show="numberOfQuizzesSelected()">Take quizzes ({{numberOfQuizzesSelected()}})</a>
					</div>
					
			    </div>
			    
		    </div>
	    
		</div>
	</div>
</div>
		
<div class="container">
	
	<div class="row">
	
		<div class="col-lg-12">
			
			<div class="sort">
				
				<div class="sort__label">
					<span class="sort__label-text">Sort by:</span>
				</div>
				
				<div class="sort__name-questions">
					<span class="sort-by-name" ng-click="toggleSort('title')" ng-class="{true:'selected', false:''}[sort.by=='title']">Name <span class="glyphicon glyphicon-chevron-down" ng-if="sort.by == 'title' && sort.reverse"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sort.by == 'title' && !sort.reverse"></span></span> <span class="bar"> | </span> <span class="sort-by-question-count" ng-click="toggleSort('questions.length')" ng-class="{true:'selected', false:''}[order=='questions.length']">No. of Questions <span class="glyphicon glyphicon-chevron-down" ng-if="sort.by == 'questions.length' && sort.reverse"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sort.by == 'questions.length' && !sort.reverse"></span></span>
				</div>
				<div class="sort__dates">
					<span class="sort-by-test-date" ng-click="toggleSort('dateLastTaken')" ng-class="{true:'selected', false:''}[sort.by=='dateLastTaken']">Taken</span> <span class="bar"> | </span> <span class="sort-by-edit-date" ng-click="toggleSort('updated')" ng-class="{true:'selected', false:''}[sort.by=='updated']">Edited <span class="glyphicon glyphicon-chevron-up" ng-if="sort.by == 'updated' && sort.reverse"></span><span class="glyphicon glyphicon-chevron-down" ng-if="sort.by == 'updated' && !sort.reverse"></span></span>
				</div>
				<div class="sort__edited-by">
					<span class="sort-by-author" ng-click="toggleSort('authorID.name')" ng-class="{true:'selected', false:''}[sort.by=='authorID.name']">Author <span class="glyphicon glyphicon-chevron-down" ng-if="sort.by == 'authorID.name' && sort.reverse"></span><span class="glyphicon glyphicon-chevron-up" ng-if="sort.by == 'authorID.name' && !sort.reverse"></span></span>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		    
	    <div class="col-lg-12">
		    			    			    
		    <div ng-repeat="group in groups" ng-if="coursesVisible" ng-show="(group.quizzes | filter:filters.search).length">

    		    <div class="quiz-box">

				    <div class="course-group">
					    <div class="course-group__checker">
							<input type="checkbox" ng-checked="areAllQuizzesChecked(group.quizzes)" ng-click="selectAllQuizzesForBulkAction(group.quizzes)">
			        	</div>
					    <h3 class="course-group__label">{{group.label}}</h3>
				    </div>
				    
				    <div class="quiz-list">
					    
					    <div ng-repeat="quiz in group.quizzes | orderBy:sort.by:sort.reverse | filter:filters.search">
						    <div ng-include="'app/main/quizzes/list/views/quizItem.html'"></div>
					    </div>
					    
				    </div><!-- /quiz-list -->

			    </div><!-- /quiz-box -->
			    
		    </div><!-- /ng-repeat -->
			    
		    <div ng-if="!coursesVisible">
			    
			    <div class="quiz-box">

				    <div class="course-group">
					    <div class="course-group__checker">
							<input type="checkbox" ng-checked="areAllQuizzesChecked(quizzes)" ng-click="selectAllQuizzesForBulkAction(quizzes)">
			        	</div>
					    <h3 class="course-group__label">All quizzes</h3>
				    </div>
	
				    <div class="quiz-list">
				        
				        <div ng-repeat="quiz in quizzes | orderBy:sort.by:sort.reverse | filter:filters.search">
						    <div ng-include="'app/main/quizzes/list/views/quizItem.html'"></div>
					    </div>
					    
				    </div><!-- /quiz-list -->

			    </div><!-- /quiz-box -->
			    
		    </div><!-- /ng-if -->
		    
	    </div>
    
	</div>
    
  </div>
  
</div>